.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-block: .5em;
    padding-inline: 18px;

    background-color: var(--gray3);
    color: var(--clr1bg-light);

    font-family: "Arial", sans-serif;
}

.logo {
    font-size: 1.8rem;
    font-style: italic;
}

.nav-links {
    display: flex;
    gap: 22px;
    z-index: 2;
}

.nav-links button {
    background: none;
    border: none;
    color: #f5f5f5;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-links button:hover {
    color: #ffd700;
}

.nav-links a {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a.active {
    color: white;
    border-color: rgb(226, 158, 81);
    box-shadow: 0 0 3px 2px gold;
    transform: scale(1.1);
}

/* Responsive style */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}