@media (max-width: 768px) {
    /* Navigation */
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: max-content;
        width: auto;
        min-width: 200px;
        top: 0;
        right: 0;
        background-color: var(--gray2);
        padding: 10px;

        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom-left-radius: 50px;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    /* Book Details */
    .details-card {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        text-align: center;
    }
    
    .book-img {
        width: 80%;
        max-width: 300px;
    }

    .sale-badge {
        top: max(-5px, 2vw);
        left: 18%;
        transform: translateX(-50%) rotate(-37deg);
        font-size: 2vw;
        padding: 1vh 2vw;
    }
    
    .book-info {
        text-align: center;
    }
}
