:root {
  --clr-2: rgb(182, 100, 75);
  --clr-1: rgb(162, 100, 42);
  --clr1: rgb(142, 100, 52);
  --clr2: rgb(122, 100, 62);
  --clr3: rgb(102, 100, 72);
  --clr4: rgb(82, 100, 82);
  --clr5: rgb(62, 100, 94);

  --clr1bg: rgb(214, 220, 212);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(247, 185, 219);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}